<header class="header">   
    <!-- Navbar starts here -->
    <nav class="navbar navbar navbar-expand-md bg-light p-3 p-md-4 nav-menu">
      <div class="container-fluid d-flex navbar-img-container align-items-center ">
        <div class="d-flex flex-column">   
          <img src="../assets/images/Frame.png" alt="" class=" sidebar-icon" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop"/>
    </div>
        <div class=" logo-img ">
          <img
            src="../assets/images/TIRONEM_LOGO 17.png"
            alt="Tironem-logo"
            class="img-fluid logo-tironem"
          />
        </div>
        <div class=" navigation-menu" id="navbarTogglerDemo01">
          <ul class="navbar-nav nav-list">
            <li class="nav-item">
              <a class="nav-link active-link" href="#">Home</a>
            </li>
            <li class="nav-item ms-4">
              <a class="nav-link" href="#">How it works</a>
            </li>
            <li class="nav-item ms-4">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item ms-4">
              <a class="nav-link" href="#">Investors</a>
            </li>
          </ul>
        </div>
        <div class="me-5  nav-btn">
          <button class="btn btn-get-demo px-4 py-2" type="button">
            Get Demo
          </button>
        </div>
      </div>
    </nav>
    <!-- Navbar ends here -->
  </header>