<!-- sidebar -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header " data-bs-dismiss="offcanvas">
    <img src="../assets/images/TIRONEM_LOGO 17.png" alt="Tironem-logo" class="img-fluid logo-tironem-sidebar" />
  </div>
  <div class="offcanvas-body">
    <div class="navbar-shrink">
      <div class="sidebar-content mt-5" id="navbarTogglerDemo01">
        <ul class="nav-list-sibebar">
          <li class="nav-items-sibebar nav-items-sibebar-active">
            <a class="nav-links-sibebar active-link-sibebar" href="#">Home</a>
          </li>
          <li class="nav-items-sibebar ">
            <a class="nav-links-sibebar" href="#">How it works</a>
          </li>
          <li class="nav-items-sibebar ">
            <a class="nav-links-sibebar" href="#">Contact</a>
          </li>
          <li class="nav-items-sibebar ">
            <a class="nav-links-sibebar" href="#">Investors</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
<!-- sidebar -->
<div class="main-container d-flex flex-column">
  <!-- Header starts -->
  <app-header></app-header>
  <!-- Header ends -->
  <!-- section-1 starts -->
  <section class="container-one flex-grow-1 d-flex flex-column">
    <!-- Main content starts -->
    <main class="main-content-container-one flex-grow-1 d-flex flex-column justify-content-between">
      <div class="container-one-content">
        <div class="ps-lg-5 mt-0 pt-0 mt-md-5 headings">
          <h1 class="mt-5 mt-md-0 heading-section-one heading">
            Take the Hard Work
          </h1>
          <h1 class="mt-3 heading-section-one heading">
            Out of Hiring with AI
          </h1>
          <h1 class="mt-3 heading-section-one heading">Recruitment</h1>
          <h1 class="mt-3 heading-section-one heading">Software</h1>
        </div>
        <div class="img-grp">
          <img src="../assets/images/Light 1.png" alt="" class="mockup-img img-fluid" />
        </div>
      </div>
      <div
        class="demo-btn-grp ms-5 ms-md-0 d-flex align-items-center justify-content-center  justify-content-lg-start ">
        <button class="btn btn-get-your-demo container-one-demo-btn border-0 fs-16">
          Get Your Demo
        </button>
        <button class="btn ms-3 container-one-btn">How it Works</button>
      </div>
    </main>
    <!-- Main content ends -->
  </section>
  <!-- section-1 ends -->
  <!-- section-2 starts -->
  <section class="container-two d-flex flex-column">
    <main class="flex-grow-1 container-two-content">
      <div class="container-two-img-grp col-12 col-lg-6">
        <img src="../assets/images/Group 449.png" alt="" class="section-two-mockup-img" />
      </div>
      <div class="p-4 p-md-5 mt-lg-5 section-two-content-grp col-12 col-lg-6">
        <h2 class="heading-section-two fs-40 heading">
          Rapidly Discover High- Quality Candidates
        </h2>
        <div class="section-two-text">
          <p class="mt-4 section-two-content fs-16 text">
            It's time to hire smarter and achieve more.
          </p>
          <p class="mt-3 section-two-content fs-16 text">
            Meet the next evolution of talent acquisition. Tironem is your Australian recruitment software co-pilot,
            driving remarkable for Recruiters and Hiring Managers.
            results
          </p>
          <p class="mt-3 section-two-content fs-16 text">
            Save countless hours by streamlining the recruitment process.Leverage pre-built interview formats,
            pre-screening interview automation, and candidate vetting.
          </p>
          <p class="mt-3 section-two-content fs-16 text">
            Tironem helps you focus on what matters - quickly uncovering top talent.
          </p>
        </div>
      </div>
    </main>
  </section>
  <!-- section-2 ends -->
  <!-- section-3 starts -->
  <section class="container-three">
    <h2 class="section-three-heading text-center fs-40 p-md-5 d-flex flex-column heading">
      How Tironem Quickly Connects You with Top Talent
    </h2>
    <main
      class=" mb-5 container-three-content">
      <!-- Card-1 and Card-2 -->
      <div class="container-three-card1-card2">
        <!-- Card-one starts -->
        <div class="card card-one px-3 px-md-5 px-lg-3 py-5 border-0">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="section-three-icons d-flex align-items-center justify-content-center">
              <img src="../assets/images/Frame 2.png" alt="" />
            </div>
            <div class="card-body">
              <h5 class="card-title text-center fs-20 mt-3">Prepare</h5>
              <p class="card-text text-center fs-16 mt-3">
                Tironem's powerful AI generates interview questions based on job titles and descriptions, or adapts to
                your specific inputs.
              </p>
            </div>
          </div>
        </div>
        <!-- Card-one ends -->
        <!-- Card-two starts -->
        <div class="card card-two px-3 px-md-5 px-lg-3 py-5 border-0 mt-4 mt-lg-0 ms-lg-4">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="section-three-icons d-flex align-items-center justify-content-center">
              <img src="../assets/images/Frame-3.png" alt="" />
            </div>
            <div class="card-body">
              <h5 class="card-title text-center fs-20 mt-3">Pre-Screen</h5>
              <p class="card-text text-center fs-16 mt-3">
                Tironem's powerful AI generates interview questions questions &#40;in an Australian accent&#41; in the
                flow and feel of a real meeting.
              </p>

            </div>
          </div>
        </div>
        <!-- Card-two ends -->
      </div>
      <!-- Card-1 and Card-2 -->

      <!-- Card-3 and Card-4 -->
      <div class="container-three-card3-card4">
        <!-- Card-three starts -->
        <div class="card card-three px-3 px-md-5 px-lg-3 py-5 border-0 mt-4 mt-xxl-0 ms-xxl-4 ">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="section-three-icons d-flex align-items-center justify-content-center">
              <img src="../assets/images/Frame -4.png" alt="" />
            </div>
            <div class="card-body">
              <h5 class="card-title text-center fs-20 mt-3">Assess</h5>
              <p class="card-text text-center fs-16 mt-3">
                The real magic begins with intelligent, real-time assessment of answers.Tironem adapts to responses and
                gathers the best insights.
              </p>
            </div>
          </div>
        </div>
        <!-- Card-three ends -->
        <!-- Card-four starts -->
        <div class="card card-four px-3 px-md-5 px-lg-3 py-5 border-0 mt-4 mb-4 mb-md-0 mt-xxl-0 ms-lg-4">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="section-three-icons d-flex align-items-center justify-content-center">
              <img src="../assets/images/Frame-5.png" alt="" />
            </div>
            <div class="card-body">
              <h5 class="card-title text-center fs-20 mt-3">Connect</h5>
              <p class="card-text text-center fs-16 mt-3">
                You can now connect with a refined list of top talent - and you've just saved yourself hours (or days)
                of tedious vetting time.
              </p>
            </div>
          </div>
        </div>
        <!-- Card-four ends -->
      </div>
      <!-- Card-3 and Card-4 -->
    </main>
  </section>
  <!-- section-3 ends -->
  <!-- section-4 starts -->
  <section class="container-four">
    <main class="d-flex flex-column container-four-main-content">
      <div class=" container-four-content-grp">
        <!-- Content div starts -->
        <div class="container-four-content p-3 p-lg-5 p-xxl-3 ms-lg-5 ms-xxl-0 col-12 col-lg-6">
          <h2 class="fs-40 container-four-heading mt-5 mt-lg-0 mt-xxl-5 heading">
            The Easy Way to Fill Positions with AI Recruitment Software
          </h2>

          <div class="p-3 p-md-0">
            <p class="fs-16 container-four-text mt-4 text">
              The hiring process doesn't need to be a chore - for you or your
              job applicants.
            </p>
            <p class="fs-16 container-four-text mt-3 text">
              Candidates apply for roles through existing job boards. Those
              who match your criteria move on to a video interview with your
              Tironem AI recruiter co-pilot.
            </p>
            <p class="fs-16 container-four-text mt-3 text">
              Applicants engage in a natural, verbal exchange as Tironem
              analyses and adapts to responses. You can then focus on the top talent without spending hours sifting
              through them.
            </p>
          </div>
        </div>
        <!-- Content div ends -->
        <!-- Img div starts -->
        <div class="container-four-img-grp col-12 col-lg-6">
          <img src="../assets/images/sec-4-mockup-img.png" alt="" class="container-four-mockup-img" />
        </div>
        <!-- Img div ends -->
      </div>
      <!-- Btn div starts -->
      <div
        class="d-flex justify-content-center align-items-center justify-content-lg-start justify-content-xxl-center mb-5 mb-lg-0">
        <button
          class="btn btn-get-your-demo container-four-btn border-0 fs-16 mt-3 mt-md-4 mt-xxl-0 ms-lg-5 ms-xxl-0 mb-md-5 mb-xxl-0 d-md-none d-lg-block">
          Get Your Demo
        </button>
      </div>
      <!-- Btn div ends -->
    </main>
  </section>
  <!-- section-4 ends -->
  <!-- section-5 starts -->
  <section class="container-five d-flex flex-column">
    <main class="flex-grow-1  container-five-main-content">
      <div class="container-two-img-grp container-five-img-grp col-12 col-lg-6">
        <img src="../assets/images/Light 1.png" alt="" class="section-two-mockup-img container-five-img" />
      </div>
      <div class="p-4 p-lg-5 mt-xl-5 section-two-content-grp container-five-content col-12 col-lg-6">
        <h2 class="heading-section-two fs-40 heading">
          A Beautiful Balance of Speed and Flexibility
        </h2>
        <div>
          <p class="mt-4 section-two-content fs-16 text">
            Tironem works faster than you thought was possible, transcribing
            and evaluating every video interview.
          </p>
          <p class="mt-3 section-two-content fs-16 text">
            At the same time, you maintain control over checking, reviewing,
            and digging into the details of recorded meetings.
          </p>
          <p class="mt-3 section-two-content fs-16 text">
            Tironem learns from your feedback, continuously improving the speed and accuracy of candidate
            recommendations.
          </p>
        </div>
      </div>
    </main>
  </section>
  <!-- section-5 ends -->
  <!-- section-6 starts -->
  <section class="container-six">
    <main class="d-flex flex-column flex-lg-row align-items-center justify-content-center container-six-main-content">
      <!-- Content div starts -->
      <div class=" container-six-content mt-5 ms-lg-5 ms-xxl-0 mt-lg-0 col-12 col-lg-6">
        <h2 class="container-six-heading heading">
          It's Time - to Save Time and Lower Your Cost of Acquisition
        </h2>
        <div class="p-2 p-md-0">
          <p class="fs-16 container-six-text text mt-4">
            Stop spending hours or days wading through the sea of unsuitable resumes.
          </p>
          <p class="fs-16 container-six-text text mt-3">
            Let Tironem help you discover top talent - without the heavy
            lifting.
          </p>
          <p class="fs-16 container-six-text text mt-3">
            Hire faster, lower your cost of acquisition, and fill positions
            with high-quality candidates.
          </p>
        </div>
        <div class="mt-5 d-none d-md-block">
          <button class="btn btn-get-your-demo border-0 fs-16">
            Get Your Demo
          </button>
        </div>
      </div>
      <!-- Content div ends -->
      <!-- Images div starts -->
      <div class="ms-xxl-5 container-six-cards col-12 col-lg-6">
        <!-- Row-one images -->
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center mt-md-5 mt-lg-0">
          <!-- Container-six Card-one -->
          <div class="card container-six-card container-six-left-card border-0 p-4 mt-4 mt-md-0">
            <div class="d-flex flex-column container-six-card-content align-items-center justify-content-center">
              <div class="section-six-icons d-flex align-items-center justify-content-center">
                <img src="../assets/images/Group 26.png" alt="" />
              </div>
              <div class="card-body">
                <h5 class="container-six-card-title text-center fs-20 mt-3">Lower
                </h5>
                <h5 class="container-six-card-title text-center fs-20 ">
                  Cost of Acquisition</h5>
                <p class="container-six-card-text text-center fs-16 mt-3">
                  Compared to traditional hiring tools.
                </p>
              </div>
            </div>
          </div>
          <!-- Container-six Card-one -->
          <!-- Container-six Card-two -->
          <div class="card container-six-card container-six-right-card  border-0 p-4 mt-4 mt-md-0 ms-md-4">
            <div class="d-flex flex-column container-six-card-content align-items-center justify-content-center">
              <div class="section-six-icons d-flex align-items-center justify-content-center">
                <img src="../assets/images/Group 26-1.png" alt="" />
              </div>
              <div class="card-body">
                <h5 class="container-six-card-title text-center fs-20 mt-3">Time
                </h5>
                <h5 class="container-six-card-title text-center fs-20 ">
                  Saved</h5>
                <p class="container-six-card-text text-center fs-16 mt-3">
                  Throughout the entire recruitment process.
                </p>

              </div>
            </div>
          </div>
          <!-- Container-six Card-two -->


        </div>
        <!-- Row-one images -->
        <!-- Row-two images -->
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">

          <!-- Container-six Card-three -->
          <div class="card container-six-card container-six-left-card  border-0 p-4 mt-4">
            <div class="d-flex flex-column align-items-center justify-content-center container-six-card-content">
              <div class="section-six-icons d-flex align-items-center justify-content-center">
                <img src="../assets/images/Group 26-2.png" alt="" />
              </div>
              <div class="card-body">
                <h5 class="container-six-card-title text-center fs-20 mt-3">Faster Candidate
                </h5>
                <h5 class="container-six-card-title text-center fs-20 ">
                  Placement</h5>
                <p class="container-six-card-text text-center fs-16 mt-3">
                  Than using manual hiring processes.
                </p>

              </div>
            </div>
          </div>
          <!-- Container-six Card-three -->
          <!-- Container-six Card-four -->
          <div class="card container-six-card container-six-right-card border-0 p-4 ms-md-4 mt-4">
            <div class="d-flex flex-column align-items-center justify-content-center container-six-card-content">
              <div class="section-six-icons d-flex align-items-center justify-content-center">
                <img src="../assets/images/Group 26-3.png" alt="" />
              </div>
              <div class="card-body">
                <h5 class="container-six-card-title text-center fs-20 mt-3">Applicant
                </h5>
                <h5 class="container-six-card-title text-center fs-20 ">
                  Satisfaction</h5>
                <p class="container-six-card-text text-center fs-16 mt-3">
                  From roles filled using Tironem AI recruitment software.
                </p>

              </div>
            </div>
          </div>
          <!-- Container-six Card-four -->
        </div>
        <!-- Row-two images -->
      </div>
      <!-- Images div ends -->
    </main>
  </section>
  <!-- section-6 ends -->
  <!-- section-7 starts -->
  <section class="container-seven">
    <main class="container-seven-main-content">
      <div class="d-flex flex-column align-items-center container-seven-content ">
        <h2 class="fs-40 mt-4 container-seven-heading">
          Ready to Hire Smarter and Achieve More?
        </h2>
        <div class="d-flex align-items-center justify-content-center mt-3 mt-md-5 ">
          <!-- Slider -->
          <div id="carouselExample" class="carousel slider" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../assets/images/Light 1.png" class="d-block  slider-img" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../assets/images/Group 449.png" class="d-block  slider-img" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../assets/images/sec-4-mockup-img.png" class="d-block  slider-img" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <img src="../assets/images/back-arrow.png" alt="" class="d-lg-none slider-previous-icon" />
              <img src="../assets/images/test.png" alt=""
                class="d-none d-lg-block container-seven-side-img container-seven-previous-img" />
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <img src="../assets/images/test-2.png" alt=""
                class="d-none d-lg-block container-seven-side-img container-seven-next-img" />
              <img src="../assets/images/next-arrow.png" alt="" class="d-lg-none slider-next-icon" />
            </button>
            <div class="carousel-indicators slider-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                class="active slider-indicators" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                class="slider-indicators" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                class="slider-indicators" aria-label="Slide 3"></button>
            </div>
          </div>
          <!-- Slider -->
        </div>
        <p class="fs-16 mt-md-3 container-seven-text">
          Start with your tailored demonstration of Tironem AI recruitment
          software.
        </p>
        <button class="btn btn-get-your-demo container-seven-btn fs-16 mt-3">
          Get Your Demo
        </button>
      </div>
    </main>
  </section>
  <!-- section-7 ends -->
  <!-- Footer starts -->
  <app-footer></app-footer>
  <!-- Footer ends -->
</div>